.nav, .contenido{
	float: left;
}

.nav{
	width: 15%;
	height: 100%;
	background-color: #19b2e5;
}
.contenido{
	width: 80%;
	height: 97%;
	background-color: #ffffcc;
	padding-left: 20px;
	padding-top: 20px;
}

.temas{
	background-color: #eeeeff;
	border: 1px solid blue;
	color: blue;
}

.marco{
	background-color: #ffff45;
	border: 1px solid blue;
}